{% extends "layout.html" %}
{% load static %}
{% block title %}Контакты{% endblock %}
{% block content %}
    <div class="inner-content">
        <h2>ПДД для велосипедистов, мопедистов (скутеристов).</h2>
        <h3>Понятия «Велосипед», «Мопед».</h3>
        <p>"Велосипед" - транспортное средство, кроме инвалидных колясок, имеющее два колеса или более и приводимое в движение мускульной силой людей, находящихся на нем.</p>
        <p>"Мопед" - двух- или трехколесное транспортное средство, приводимое в движение двигателем с рабочим объемом не более 50 куб. см и имеющее максимальную конструктивную скорость не более 50 км/ч. К мопедам приравниваются велосипеды с подвесным двигателем, мокики и другие транспортные средства с аналогичными характеристиками.</p>
        <p>У водителя велосипеда или скутера всегда есть возможность превратиться на время в пешехода: к пешеходам приравниваются лица, ведущие велосипед, мопед.</p>
        <h3>С какого возраста разрешено движение на дорогах?</h3>
        <p>Управлять велосипедом при движении по дорогам разрешается лицам не моложе 14 лет, а мопедом - не моложе 16 лет.</p>
        <p>Тротуары и обочины относятся к дорогам, поэтому лицам до 14 лет по ним передвигаться нельзя.</p>
        <h3>Изменения в Федеральный закон "О безопасности дорожного движения" для скутеристов:</h3>
        <p>Лицам, достигшим шестнадцатилетнего возраста, при наличии прав управления («водительских прав» (с мая 2014 г.) можно управлять транспортными средствами категории "M" (мопеды и легкие квадрициклы) и подкатегории "A1"(мотоциклы с рабочим объемом двигателя внутреннего сгорания, не превышающим 125 кубических сантиметров, и максимальной мощностью, не превышающей 11 киловатт).</p>
        <h2>Где разрешено ездить?</h2>
        <h3>Можно:</h3>
        <ul>
            <li>Если есть велосипедная дорожка – то только по ней (в этом случае по проезжей части нельзя),</li>
            <li>Если нет велосипедной дорожки - по проезжей части в один ряд возможно правее</li>
            <li>Допускается движение по обочине, если это не создает помех пешеходам.</li>
        </ul>
        <h3>Нельзя:</h3>
        <ul>
            <li>На автомагистралях,</li>
            <li>По разделительным полосам проезжей части,</li>
            <li>По тротуарам. Велосипедисты и скутеристы – водители, а не пешеходы!</li>
            <li>По пешеходным дорожкам,</li>
            <li>По пешеходным переходам.</li>
        </ul>
        <p>Если Вы хотите двигаться по тротуару, пешеходной дорожке, пешеходному переходу, то Вам необходимо слезть с велосипеда или скутера. Человек, ведущий велосипед или скутер является  пешеходом.</p>
        <h3>Как правильно ездить?</h3>
        <p>Движение на велосипеде или скутере осуществляется в попутном направлении транспортным средствам. Навстречу транспортным средствам двигается только пешеход!</p>
        <p>Водитель скутера в обязательном порядке движется  по дороге в застегнутом мотошлеме.</p>
        <p>В светлое время суток на всех движущихся транспортных средствах с целью их обозначения должны включаться фары ближнего света или дневные ходовые огни.</p>
        <p>Нельзя управлять велосипедом или скутером не держась за руль.</p>
        <p>На велосипеде и скутере нельзя перевозить пассажиров, кроме ребенка в возрасте до 7 лет на дополнительном сиденье, оборудованном подножками. Любой скутер - одноместное транспортное средство. И даже если на нем есть 2 места для сидения, то перевозить на втором месте можно только маленького ребенка.</p>
        <p>Нельзя перевозить груз, который выступает более чем на 0,5 м по длине или ширине за габариты, или груз, мешающий управлению.</p>
        <p>Водитель велосипеда или скутера должен подавать сигналы поворота перед началом движения, перестроением, поворотом и остановкой.</p>
        <p>Поскольку световыми указателями поворота велосипеды не оборудуются, сигналы необходимо подавать рукой. Соответственно, сигналу левого поворота соответствует вытянутая в сторону левая рука, сигналу правого поворота - вытянутая правая рука. Сигналы поворота необходимо подавать заблаговременно до начала поворота. Вернуть руку на руль можно непосредственно перед началом поворота.</p>
        <p>Нельзя поворачивать налево или разворачиваться, если на дороге в данном направлении есть 2 или более полос, или на дороге есть трамвайные пути.</p>
        <p>Чтобы повернуть налево или развернуться необходимо доехать до пешеходного перехода, слезть с велосипеда или скутера, таким образом стать пешеходом, после перехода дороги по пешеходному переходу вновь сесть на велосипед или скутер и продолжить движение.</p>
        <h3>Водители велосипедов и скутеров должны пропускать пешеходов!</h3>
        <p>Вне перекрестка при пересечении велосипедной дорожки с автомобильной дорогой водитель велосипеда или скутера должен уступить дорогу транспортным средствам, движущимся по этой дороге, т.е. ждать, пока по дороге не проедут все автомобили.</p>
        <p>Велосипед или скутер, также как и любое другое транспортное средство, должен снизить скорость или остановиться перед переходом, чтобы пропустить пешеходов.</p>
        <p>Запрещается буксировка велосипедов и мопедов, а также велосипедами и мопедами, кроме буксировки прицепа, предназначенного для эксплуатации с велосипедом или мопедом.</p>
        <a href="{% url 'transport' %}" class="header header-stroke">Назад</a>
    </div>
{% endblock %}
