{% extends "layout.html" %}
{% load static %}
{% block title %}Контакты{% endblock %}
{% block content %}
    <div class="inner-content">
        <h2>Опасные ситуации на дорогах</h2>
        <h3>Главная опасность - стоящая машина!</h3>
        <p>Стоящая машина опасна: она может закрывать собой другой автомобиль, который движется с большой скоростью, мешает вовремя заметить опасность. Нельзя выходить на дорогу из-за стоящих машин. В крайнем случае, нужно осторожно выглянуть из-за стоящего автомобиля, убедиться, что опасность не угрожает и только тогда переходить дорогу.
        Не обходите стоящий автобус ни спереди, ни сзади!
        Стоящий автобус закрывает собою участок дороги, по которому в тот момент, когда вы решили ее перейти, может проезжать автомобиль. Кроме того, люди около остановки обычно спешат и забывают о безопасности. От остановки надо двигаться в сторону ближайшего пешеходного перехода.</p>
        <h3>Умейте предвидеть скрытую опасность!</h3>
        <p>Из-за стоящего автомобиля, дома, забора, кустов и др. может неожиданно выехать машина. Для перехода дороги нужно выбрать такое место, где дорога просматривается в оба направления. В крайнем случае, можно осторожно выглянуть из-за помехи, убедиться, что опасности нет, и только тогда переходить дорогу.</p>
        <h3>Машина приближается медленно, и все же надо пропустить ее.</h3>
        <p>Медленно движущаяся машина может скрывать за собой автомобиль, идущий на большой скорости. Ребенок часто не подозревает, что за одной машиной может быть скрыта другая.</p>
        <h3>И у светофора можно встретить опасность.</h3>
        <p>Сегодня на дорогах города мы постоянно сталкиваемся с тем, что водители автомобилей нарушают Правила дорожного движения: мчатся на высокой скорости, игнорируя сигналы светофора и знаки перехода. Поэтому недостаточно научить детей ориентироваться на зеленый сигнал светофора, необходимо убедиться, что опасность не угрожает. Дети часто рассуждают так: «Машины еще стоят, водители меня видят и пропустят». Они ошибаются.</p>
        <h3>«Пустынную» улицу дети часто перебегают не глядя.</h3>
        <p>На улице, где машины появляются редко дети, выбегают на дорогу, предварительно ее не осмотрев, и попадают под машину. Выработайте у ребенка привычку всегда перед выходом на дорогу остановиться, оглядеться, прислушаться - и только тогда переходить улицу.</p>
        <h3>Стоя на осевой линии, помните: сзади может оказаться машина!</h3>
        <p>Дойдя до осевой линии и остановившись, дети обычно следят только за машинами, двигающимися с правой стороны, и забывают об автомобилях проезжающих у них за спиной. Испугавшись, ребенок может сделать шаг назад - прямо под колеса машины. Если пришлось остановиться на середине дороги, надо быть предельно внимательным, не делать ни одного движения, не убедившись в безопасности.</p>
        <h3>На улице крепко держите ребенка за руку!</h3>
        <p>Находясь рядом с взрослым, ребенок полагается на него и либо вовсе не наблюдает за дорогой, либо наблюдает плохо. Взрослый этого не учитывает. На улице дети отвлекаются на всевозможные предметы, звуки, не заметив идущую машину, и думая, что путь свободен, вырываются из рук взрослого и бегут через дорогу. Возле перехода дороги вы должны крепко держать ребенка за руку.</p>
        <h3>Арки и выезды из дворов - места скрытой опасности!</h3>
        <p>В крупных городах местом повышенной опасности являются арки, через которые из дворов на проезжую часть выезжают машины. Не допускайте, чтобы ребенок бежал мимо арки впереди взрослого: его необходимо держать за руку.</p>
        <h2>Помните!</h2>
        <p>Ребенок учится законам улицы, беря пример с родителей и других взрослых. Пусть пример учит дисциплинированному поведению на улице не только Вашего ребенка, но и других детей. Переходите дорогу, соблюдая Правила дорожного движения.</p>
        <img src="{% static 'img/jpg/pdd/4.png' %}" style="width: 50%; margin-left: auto; margin-right: auto" alt="Уголок безопасности дорожного движения">
        <a href="{% url 'transport' %}" class="header header-stroke">Назад</a>
    </div>
{% endblock %}
