{% extends "layout.html" %}
{% load static %}
{% block title %}Контакты{% endblock %}
{% block content %}
    <div class="inner-content">
        <h2>Памятка по ПДД для родителей и детей</h2>
        <h3>Причины детского дорожно-транспортного травматизма.</h3>
        <ul>
            <li>Неумение наблюдать.</li>
            <li>Невнимательность.</li>
            <li>Недостаточный надзор взрослых за поведением детей.</li>
        </ul>
        <h2><b>Рекомендации по обучению детей ПДД.</b></h2>
        <h3>При выходе из дома.</h3>
        <p>Если у подъезда дома возможно движение, сразу обратите внимание ребенка, нет ли приближающегося транспорта. Если у подъезда стоят транспортные средства или растут деревья, приостановите свое движение и оглядитесь – нет ли опасности.</p>
        <h3>При движении по тротуару.</h3>
        <ul>
            <li>Придерживайтесь правой стороны.</li>
            <li>Взрослый должен находиться со стороны проезжей части.</li>
            <li>Если тротуар находится рядом с дорогой, родители должны держать ребенка за руку.</li>
            <li>Приучите ребенка, идя по тротуару, внимательно наблюдать за выездом машин со двора.</li>
            <li>Не приучайте детей выходить на проезжую часть, коляски и санки везите только по тротуару.</li>
        </ul>
        <h3>Готовясь перейти дорогу</h3>
        <ul>
            <li>Остановитесь, осмотрите проезжую часть.</li>
            <li>Развивайте у ребенка наблюдательность за дорогой.</li>
            <li>Подчеркивайте свои движения: поворот головы для осмотра дороги. Остановку для осмотра дороги, остановку для пропуска автомобилей.</li>
            <li>Учите ребенка всматриваться вдаль, различать приближающиеся машины.</li>
            <li>Не стойте с ребенком на краю тротуара.</li>
            <li>Обратите внимание ребенка на транспортное средство, готовящееся к повороту, расскажите о сигналах указателей поворота у машин.</li>
            <li>Покажите, как транспортное средство останавливается у перехода, как оно движется по инерции.</li>
        </ul>
        <h3>При переходе проезжей части</h3>
        <ul>
            <li>Переходите дорогу только по пешеходному переходу или на перекрестке.</li>
            <li>Идите только на зеленый сигнал светофора, даже если нет машин.</li>
            <li>Выходя на проезжую часть, прекращайте разговоры.</li>
            <li>Не спешите, не бегите, переходите дорогу размеренно.</li>
            <li>Не переходите улицу под углом, объясните ребенку, что так хуже видно дорогу.</li>
            <li>Не выходите на проезжую часть с ребенком из-за транспорта или кустов, не осмотрев предварительно улицу.</li>
            <li>Не торопитесь перейти дорогу, если на другой стороне вы увидели друзей, нужный автобус, приучите ребенка, что это опасно.</li>
            <li>При переходе по нерегулируемому перекрестку учите ребенка внимательно следить за началом движения транспорта.</li>
            <li>Объясните ребенку, что даже на дороге, где мало машин, переходить надо осторожно, так как машина может выехать со двора, из переулка.</li>
        </ul>
        <h3>При посадке и высадке из транспорта</h3>
        <ul>
            <li>Выходите первыми, впереди ребенка, иначе ребенок может упасть, выбежать на проезжую часть.</li>
            <li>Подходите для посадки к двери только после полной остановки.</li>
            <li>Не садитесь в транспорт в последний момент (может прищемить дверями).</li>
            <li>Приучите ребенка быть внимательным в зоне остановки – это опасное место (плохой обзор дороги, пассажиры могут вытолкнуть ребенка на дорогу).</li>
        </ul>
        <h3>При ожидании транспорта</h3>
        <p>Стойте только на посадочных площадках, на тротуаре или обочине.</p>
        <h3>Рекомендации по формированию навыков поведения на улицах</h3>
        <ul>
            <li>Навык переключения на улицу: подходя к дороге, остановитесь, осмотрите улицу в обоих направлениях.</li>
            <li>Навык спокойного, уверенного поведения на улице: уходя из дома, не опаздывайте, выходите заблаговременно, чтобы при спокойной ходьбе иметь запас времени.</li>
            <li>Навык переключения на самоконтроль: умение следить за своим поведением формируется ежедневно под руководством родителей.</li>
            <li>Навык предвидения опасности: ребенок должен видеть своими глазами, что за разными предметами на улице часто скрывается опасность.</li>
        </ul>
        <h3>Важно чтобы родители были примером для детей в соблюдении правил дорожного движения.</h3>
        <ul>
            <li>Необходимо учить детей не только соблюдать Правила движения, но и с самого раннего возраста учить их наблюдать и ориентироваться. Нужно учитывать, что основной способ формирования навыков поведения – наблюдение, подражание взрослым, прежде всего родителям. Многие родители, не понимая этого, личным примером обучают детей неправильному поведению на дороге.</li>
            <li>Не спешите, переходите дорогу размеренным шагом.</li>
        </ul>
        <h3>Выходя на проезжую часть дороги, прекратите разговаривать — ребёнок должен привыкнуть, что при переходе дороги нужно сосредоточиться.</h3>
        <ul>
            <li>Не посылайте ребенка переходить или перебегать дорогу впереди вас – этим вы обучаете его переходить через дорогу, не глядя по сторонам. Маленького ребенка надо крепко держать за руку, быть готовым удержать при попытке вырваться – это типичная причина несчастных случаев.</li>
            <li>Не переходите дорогу на красный или жёлтый сигнал светофора.</li>
            <li>Переходите дорогу только в местах, обозначенных дорожным знаком «Пешеходный переход».</li>
            <li>Из автобуса, троллейбуса, трамвая, такси выходите первыми. В противном случае ребёнок может упасть или побежать на проезжую часть дороги.</li>
            <li>Привлекайте ребёнка к участию в ваших наблюдениях за обстановкой на дороге: показывайте ему те машины, которые готовятся поворачивать, едут с большой скоростью и т.д.</li>
            <li>Не выходите с ребёнком из-за машины, кустов, не осмотрев предварительно дороги, — это типичная ошибка, и нельзя допускать, чтобы дети её повторяли.</li>
            <li>Не разрешайте детям играть вблизи дорог и на проезжей части улицы.</li>
            <li>Учите ребенка смотреть. У ребенка  должен быть выработан твердый навык: прежде, чем сделать первый шаг с тротуара, он поворачивает голову и осматривает дорогу во всех направлениях. Это должно быть доведено до автоматизма.</li>
            <li>Учите ребенка замечать машину. Иногда ребенок не замечает машину или мотоцикл, находящиеся вдалеке. Научите его всматриваться вдаль.</li>
            <li>Учите ребенка оценивать скорость и направление будущего движения машины. Научите ребенка определять, какая машина едет прямо, а какая готовится к повороту.</li>
            <li>Твердо усвойте сами и научите ребенка, что входить в любой вид транспорта и выходить из него можно только тогда, когда он стоит. Объясните ребенку, почему нельзя прыгать на ходу.</li>
        </ul>
        <h3>Памятка для учащихся по правилам дорожного движения</h3>
        <ul>
            <li>Ходите только по тротуару!</li>
            <li>Переходите улицу в местах, где имеются линии или указатели перехода, а где их нет – на перекрестках по линии тротуаров.</li>
            <li>Переходя улицу, посмотрите налево, а дойдя до середины – направо.</li>
            <li>На улицах и дорогах, где движение регулируется, переходите проезжую часть только при зеленом сигнале светофора или разрешающем жесте регулировщика.</li>
            <li>Не перебегайте дорогу перед близко идущим транспортом.</li>
            <li>Не выходите на проезжую часть из-за стоящей машины или другой помехи обзору; в крайнем случае, остановитесь и внимательно посмотрите, что там за…</li>
            <li>При переходе через улицу не стоит вести оживленную беседу – разговоры отвлекают мысли и взгляд от наблюдения.</li>
            <li>Не устраивайте игры и не катайтесь на коньках, лыжах и санках на проезжей части улицы!</li>
        </ul>
        <h2>Ты знаешь!</h2>
        <ul>
            <li>Кататься на велосипедах, роликах и скейтбордах можно только во дворе или на специальных площадках. Выбегать на дорогу за мячом или собакой опасно!</li>
            <li>Надо быть очень внимательным при переходе дороги! Самые безопасные переходы – подземный и надземный. Если их нет, лучше перейти по «зебре». Если на перекрестке нет пешеходного перехода и светофора, попроси взрослого помочь перейти дорогу.</li>
            <li>Переходить улицу можно только на зеленый сигнал светофора. Но даже при зеленом сигнале никогда не начинай движение сразу. Сначала убедись, что машины успели остановиться и путь безопасен.</li>
            <li>Если на остановке стоит автобус, не обходи его ни спереди, ни сзади. Надо дождаться, пока он отъедет, и только тогда начинать переход.</li>
            <li>Особенно внимательным надо быть, когда обзору мешают препятствия. Стоящие у тротуара машина, ларек, кусты могут скрывать за собой движущийся автомобиль. Поэтому убедись, что опасности нет, и только тогда переходи.</li>
        </ul>
        <h2>Словарик пешехода</h2>
        <p>Дорога – обустроенная или приспособленная и используемая для движения транспортных средств полоса земли, либо поверхность искусственного сооружения. Дорога включает в себя одну или несколько проезжих частей, а также трамвайные пути, тротуары, обочины и разделительные полосы при их наличии.</p>
        <p>Прилегающая территория – территория, непосредственно прилегающая к дороге и предназначенная для сквозного движения транспортных средств (дворы, жилые массивы, автостоянки, АЗС, предприятия и т. д.).</p>
        <p>Тротуар– элемент дороги, предназначенный для движения пешеходов и примыкающий к проезжей части или отделенный от нее газоном.</p>
        <p>Транспортное средство – устройство, предназначенное для перевозки по дорогам людей, грузов и оборудования, установленного на нем.</p>
        <p>Маршрутное транспортное средство – транспортное средство общего пользования (автобус, троллейбус, трамвай), предназначенное для перевозки по дорогам людей (пассажиров) и движущееся по установленному маршруту с обозначенными остановочными пунктами (остановками).</p>
        <p>Механическое транспортное средство – транспортное средство, кроме мопеда, приводимое в движение двигателем. Термин распространяется также на любые тракторы и самоходные машины.</p>
        <p>Участник дорожного движения – лицо, принимающее непосредственное участие в процессе движения в качестве водителя, пешехода, пассажира транспортного средства.</p>
        <p>Водитель – лицо, управляющее каким-либо транспортным средством, погонщик, ведущий по дороге вьючных, верховых животных или стадо. К водителю приравнивается обучающий вождению.</p>
        <p>Пешеход – лицо, находящееся вне транспортного средства на дороге  и не производящее на ней работу. К пешеходам приравниваются лица, передвигающиеся в инвалидных колясках без двигателя, ведущие велосипед, мопед, мотоцикл, везущие санки, тележку, детскую или инвалидную коляски.</p>
        <p>Пешеходный переход – участок проезжей части, обозначенный специальными знаками и (или) разметкой и выделенный для движения пешеходов через дорогу. При отсутствии разметки ширина пешеходного перехода определяется расстоянием между знаками.</p>
        <a href="{% url 'transport' %}" class="header header-stroke">Назад</a>
    </div>
{% endblock %}
