{% extends "layout.html" %}
{% load static %}
{% block title %}Контакты{% endblock %}
{% block content %}
    <div class="inner-content">
        <h1>Уголок безопасности дорожного движения</h1>
        <img src="{% static 'img/jpg/bdd.jpg' %}" style="width: 50%; margin-left: auto; margin-right: auto" alt="Уголок безопасности дорожного движения">
        <p>
            Дорожное движение - сложный процесс, его безопасность зависит от поведения каждого человека, а значит. Ежедневно мы являемся участниками дорожного движения, выступая в качестве пешехода, пассажира или водителя. Быть пешеходом — это очень ответственно, особенно важно правильно вести себя на дороге.
            <br>Результаты анализа статистических данных о безопасности дорожного движения: В Российской Федерации по итогам 6 месяцев 2024 года (по сравнению с аналогичным периодом прошлого года) свидетельствуют об увеличении на 6,6%
            <br>В основном, дети становились участниками ДТП в качестве пассажиров и пешеходов по 40% от общего количества ДТП, соответственно, 20% пришлось на происшествия с детьми-водителями.
            <br>Отмечен рост показателей аварийности с участием детей-пешеходов: количество происшествий возросло на 3,6% (3206), число погибших – на 2,1% (48) и раненых детей – на 4% (3254). Особую обеспокоенность вызывает рост показателей аварийности с участием детей-водителей мототранспорта, в том числе мопедов и приравненных к ним транспортных средств. Количество ДТП возросло на 51,1% (795), число погибших – на 25% (20), раненых детей – на 53,4% (787).
        </p>
        <h3>Вспомните основные правила пешеходов</h3>
        <ul style="margin-left: 20px; font-size: 12px">
            <li>Самое безопасное место для перехода - оборудованное светофором. Начинать переходить улицу можно только при зеленом сигнале светофора. Красный сигнал светофора запрещает движение пешехода и транспорта.</li>
            <li>Переходить дорогу нужно только по пешеходным переходам - "зебрам” - или на перекрестках. Не забывай, что идти через проезжую часть следует строго под прямым углом, потому что только так ты можешь полностью контролировать движение машин.</li>
            <li>В местах, где нанесена "зебра” или установлены специальные знаки, пешеход получает преимущество перед транспортом, но начинать переходить дорогу нужно только после того, как убедишься, что все машины остановились и пропускают тебя.</li>
            <li>Переходить проезжую часть лучше не по одному, а в группе людей. Но и здесь внимательно следи за транспортом - среди водителей могут оказаться недисциплинированные люди.</li>
            <li>Выйдя на проезжую часть, не отвлекайся на разговоры, не пользуйся сотовым телефоном и не играй в карманные электронные игры.</li>
            <li>Не беги и не спеши при переходе! Переходи улицу быстрым, уверенным шагом, не останавливайся и не отвлекайся. НИКОГДА не перебегай дорогу перед близко идущим транспортом.</li>
            <li>Даже на дорогах, где редко проезжает транспорт, во дворах домов, нужно быть всегда внимательным и не забывать о своей безопасности.</li>
            <li>Ходить следует только по тротуарам, придерживаясь правой стороны.</li>
            <li>Если тротуара нет, можно идти по обочине или по краю проезжей части, только обязательно НАВСТРЕЧУ движению транспортных средств.</li>
        </ul>
        <h2>Памятки</h2>
        <ul style="margin-left: 20px">
            <li><a style="color: #7b00ff; text-decoration: underline" href="{% url 'safety' %}" class="header header-stroke">Памятки по безопасности дорожного движения</a></li>
            <li><a style="color: #7b00ff; text-decoration: underline" href="{% url 'walkmans' %}" class="header header-stroke">Памятка для пешеходов</a></li>
            <li><a style="color: #7b00ff; text-decoration: underline" href="{% url 'danger_situations' %}" class="header header-stroke">Опасные ситуации на дорогах</a></li>
            <li><a style="color: #7b00ff; text-decoration: underline" href="{% url 'rules_on_spring' %}" class="header header-stroke">Правила дорожного движения на весенний период</a></li>
            <li><a style="color: #7b00ff; text-decoration: underline" href="{% url 'for_children_and_parents' %}" class="header header-stroke">Памятка по ПДД для родителей и детей</a></li>
            <li><a style="color: #7b00ff; text-decoration: underline" href="{% url 'light_items' %}" class="header header-stroke">Засветись на дороге!</a></li>
            <li><a style="color: #7b00ff; text-decoration: underline" href="{% url 'bicycles' %}" class="header header-stroke">ПДД для велосипедистов, мопедистов (скутеристов)</a></li>
            <li><a style="color: #7b00ff; text-decoration: underline" href="{% url 'skaters' %}" class="header header-stroke">Что должен знать велосипедист</a></li>
            <li><a style="color: #7b00ff; text-decoration: underline" href="{% url 'speed_mode' %}" class="header header-stroke">Памятка водителю по соблюдению скоростного режима</a></li>
        </ul>

    </div>
{% endblock %}
