{% extends "layout.html" %}
{% load static %}
{% block title %}Контакты{% endblock %}
{% block content %}
    <div class="inner-content">
        <h2>Правила дорожного движения на весенний период</h2>
        <ul style="margin-left: 20px">
            <li>Проходи по тротуару только с правой стороны. Если нет тротуара, иди по левому краю дороги, навстречу движению транспорта.</li>
            <li>Дорогу переходи в том месте, где указана пешеходная дорожка или установлен светофор. Дорогу переходи на зелёный свет. </li>
            <li>Когда переходишь дорогу, смотри сначала налево, потом направо.</li>
            <li>Пересекать улицу надо прямо, а не наискосок.</li>
            <li>Не переходи дорогу перед близко идущим транспортом.</li>
            <li>На проезжей части игры строго запрещены.</li>
            <li>Не выезжай на проезжую часть на велосипеде.</li>
        </ul>
        <h3>Весной</h3>
        <p>Наступила весна. Весеннее солнышко манит на воздух. Но, к сожалению, не все дети правильно ведут себя на улице. Они игра ют на проезжей части, перебегают дорогу в запрещенных местах. Это кончается иногда трагически.</p>
        <h3>В дождливый день</h3>
        <p>Сегодня на улице дождь. Дорога скользкая. Стёкла автомобилей покрываются водой. Видимость ухудшается. В таких условиях водителю трудно ехать. Расстояние, нужное для остановки автомобиля, на мокрой дороге увеличивается. Поэтому, возвращаясь из школы, не перебегайте улицу. Посмотрите внимательно вокруг себя, пропустите приближающийся транспорт и, только убедившись в полной безопасности, начинайте переход.</p>
        <h2>ЗАПОМНИТЕ</h2>
        <p>Даже старый опытный водитель не сможет мгновенно остановить автомобиль.</p>
        <img src="{% static 'img/jpg/pdd/5.png' %}" style="width: 600px; margin-left: auto; margin-right: auto" alt="">
        <h3>В туман</h3>
        <p>Сегодня на улице туман. Видимость очень плохая. Поэтому прежде чем перейти дорогу, убедитесь, что по ней не идёт автомобиль. А если рядом окажется малыш, возьмите его за руку и переведите через дорогу. В тумане надо быть особенно осторожным. Не спешите, так как можно неожиданно упасть и оказаться под колёсами.</p>
        <h3>В хороший солнечный день.</h3>
        <p>Ребята, сегодня тёплая солнечная погода. После занятий приятно пройтись по улице. Но, выходя из школы, не забывайте о правилах движения, о том, что в такую погоду водители ведут свой транспорт быстрее, чем обычно. Поэтому, начиная переход, посмотрите внимательно на дорогу. И, если увидите приближающийся транспорт, не спешите, уступите ему дорогу. Старайтесь на пути к дому выбирать наиболее безопасный путь и меньше находиться на проезжей части. Это убережет вас от несчастья.</p>
        <img src="{% static 'img/jpg/pdd/5.1.png' %}" style="width: 600px; margin-left: auto; margin-right: auto" alt="">
        <p>Нельзя забывать, что в весенние дни движение на улицах становится интенсивнее: выезжают и те водители, которые зимой обычно не ездят. Это владельцы индивидуальных транспортных средств, мотоциклов, мотороллеров, мопедов. Кроме того, в сухую солнечную погоду водители ведут свой транспорт быстрее, чем обычно. Поэтому, прежде чем перейти дорогу, внимательно посмотрите по сторонам. И если увидите приближающийся автомобиль, пропустите его. На велосипеде катайтесь только во дворах или на специальных площадках.</p>
        <p><b>Всегда помните, что знание и соблюдение Правил дорожного движения — гарантия безопасности вашей жизни.</b></p>
        <a href="{% url 'transport' %}" class="header header-stroke">Назад</a>
    </div>
{% endblock %}
