{% extends "layout.html" %}
{% load static %}
{% block title %}Контакты{% endblock %}
{% block content %}
    <div class="inner-content">
    <h2>Памятка водителю по соблюдению скоростного режима</h2>
    <p>Вы собрались в дорогу. Неважно будет ли это поездка на отдых или рабочая командировка, расстояние которой в тысячи километров или сто метров, всегда хочется, чтобы все прошло без досадных приключений и поломок в пути. Помните уважаемые участники дорожного движения - соблюдение правил дорожного движения - начинается с тебя. Сев за руль пристегнитесь ремнем безопасности сами, и проконтролируйте, чтобы ваши пассажиры, также пристегнулись. Соблюдайте скоростной режим, скажите себе – я не нарушаю, мне некуда спешить… Выбор скорости, не соответствующей дорожным условиям, нарушение скоростного режима являются одной из наиболее частых причин ДТП, причем, согласно статистике ДТП, при увеличении скорости тяжесть последствий ДТП возрастает в геометрической прогрессии. К сожалению, не многие водители знают, что превышение скорости в реальных условиях дорожного движения не приводит к существенному выигрышу во времени.</p>
    <p>Лишь 2 минуты выиграет водитель, преодолевающий средний, скажем, городской маршрут (около 20 км) со скоростью 80 км/ч, вместо разрешенных 60 км/ч. Никогда не старайтесь сократить время поездки, т. е. не превышайте скорость, достаточно одного мгновения, чтобы потом всю оставшуюся жизнь жалеть о последствиях спешки. Стоит ли рисковать жизнью и нервничать ради пары минут? Не стоит также забывать, что водитель, превышающий скорость, подвергает риску не только себя, но и окружающих людей. Соблюдение скоростного режима - меры позволяющие сохранить жизнь всех участников дорожного движения. При ДТП на скорости 30 км/ч риск смертельного исхода для пешехода 5%, при 50 км/ч – 40%, а при 65 км/ч – уже 84%. </p>
    <ul>
        <li>Не превышайте скорость! не нарушайте скоростной режим, помните в ваших руках судьбы других людей.</li>
        <li>Никогда не садитесь за руль в состоянии усталости, в плохом самочувствии.</li>
        <li>Помните, алкоголь и автомобиль - вещи не совместимые. Управление автомобилем в нетрезвом состоянии рано или поздно приводит к печальным последствиям.</li>
        <li>Управляйте автомобилем внимательно и осторожно, не отвлекайтесь за рулем. </li>
        <li>Не разговаривайте во время управления транспортным средством по телефону, так как это отвлекает внимание.</li>
        <li>Никогда не выезжайте на полосу встречного движения, на тех участках дороги, где это запрещено правилами дорожного движения.</li>
        <li>Следи за техническим состоянием своего автомобиля, не используйте автомобиль с серьёзными техническими неисправностями. </li>
        <li>Никогда не увеличивайте скорость, когда другой водитель пытается тебя обогнать или встроиться в твой ряд. </li>
        <li>Всегда возите в автомобиле аптечку и огнетушитель. </li>
    </ul>
    <p>Уважаемые водители! Так же помните, что пешеходный переход - это место повышенной опасности. Основной причиной наездов на пешеходов в зоне пешеходного перехода является неготовность водителя к опасности.</p>
    <p>Помните, при приближении к пешеходному переходу водителю следует заранее снизить скорость, повысить внимание, оценить условия видимости и обзора. Необходимо быть готовым к остановке и пропустить пешеходов, начинающих либо завершающих переход.</p>
    <p>Чтобы обеспечить безопасность при проезде нерегулируемого пешеходного перехода, водителю следует учитывать поведение пешеходов, повышая внимание и снижая скорость. Воздержитесь от опережения фуры, автобуса в зоне пешеходного перехода. Они ограничивают обзор, и из-за него может неожиданно появиться пешеход.</p>
    <p>Если водитель видит пешехода, который не обращает внимания, на приближение транспортного средства, разговаривая по телефону, слушая музыку, ему нужно «помигать» дальним светом фар (в крайнем случае, дать звуковой сигнал).</p>
    <p>Необходимо внимательно следить за его дальнейшим поведением и быть готовым к экстренной остановке. Особое внимание поведению пешеходов следует уделять в ненастную погоду и при ограниченной видимости. Из-за поднятых воротников, головных уборов и т. п. они могут не заметить опасности.</p>
    <p>Возникают ситуации, когда на переходе скапливаются пешеходы в ожидании безопасного перехода и остановки машин. В этой толпе часто находится неосторожный и нетерпеливый пешеход, внезапно перебегающий проезжую часть. Чтобы избежать наезда, в таких ситуациях необходимо дать ему возможность покинуть проезжую часть. Водителям, подъезжая к пешеходному переходу, независимо от наличия или отсутствия людей на нем, необходимо снизить скорость и быть готовым к появлению людей.</p>
    <h3>Несколько советов хотелось бы дать и пешеходам, при переходе проезжей части:</h3>
    <ul>
        <li>Оцените ситуацию на дороге и скорость движения транспорта еще на тротуаре или обочине, до того, как ступить на проезжую часть.</li>
        <li>Ни в коем случае нельзя переходить дорогу в задумчивости, погрузившись в свои мысли.</li>
        <li>Кроме того, будьте последовательны. Не надо метаться и суетиться на дороге: это запутает водителей, и они могут неверно оценить ваши намерения.</li>
        <li>Если автомобиль остановился и пропускает вас, помните: позади него может внезапно оказаться другая машина, водитель которой вас не видит.</li>
        <li>Вы переходите через дорогу, дошли до середины и остановились, ожидая, когда закончится поток машин. Стойте на месте, ни в коем случае не отступайте назад, не посмотрев предварительно и не оценив ситуацию.</li>
        <li>Не обходите стоящий автобус ни спереди, ни сзади! Стоящий автобус закрывает собою участок дороги, по которому в любой момент может проезжать автомобиль. Люди около остановки обычно спешат и забывают о безопасности.</li>
        <li>Помните: гарантия безопасности всех участников дорожного движения – неукоснительное соблюдение ПДД. Для пешеходов это, в первую очередь - переход проезжей части по пешеходному переходу.</li>
    </ul>
        <a href="{% url 'transport' %}" class="header header-stroke">Назад</a>
    </div>
{% endblock %}
