{% extends "layout.html" %}
{% load static %}
{% block title %}Контакты{% endblock %}
{% block content %}
    <div class="inner-content">
        <h2>Памятка для пешеходов</h2>
        <h3>Почему нельзя переходить дорогу на желтый сигнал светофора?</h3>
        <p>Желтый сигнал запрещает движение и водителям, и пешеходам. Но если в момент включения желтого сигнала транспорт находился на перекрестке, то водитель уже не сможет остановить машину. Он имеет право проехать перекресток, чтобы не создавать проблем ни пешеходам, ни другому транспорту.</p>
        <h3>Почему опасно перебегать через дорогу?</h3>
        <p>Когда человек бежит, ему трудно видеть, что происходит вокруг. И еще, торопясь, вы можете упасть, не заметить выезжающую из переулка машину и т.п.</p>
        <h3>Где идти пешеходу, если нет тротуара?</h3>
        <p>Когда нет тротуара, пешеходной дорожки или обочины, то идти нужно в один ряд по краю проезжей части. За городом пешеходы в таких случаях должны идти навстречу транспорту.</p>
        <h3>Почему нельзя переходить дорогу наискосок?</h3>
        <p>Когда идешь наискосок, поворачиваешься спиной к машинам и можешь не увидеть их. Кроме того, путь становиться длиннее, вы находитесь на проезжей части больше времени.</p>
        <h3>Что может получиться, если выходить из автобуса в последний момент?</h3>
        <p>Водитель увидит в зеркало, что никого нет, и начнет закрывать двери.
            <br>Если вы опоздаете с выходом, то двери могут прищемить вас. При этом можно упасть и оказаться под колесами автобуса.</p>
        <h3>Почему опасно переходить дорогу вдвоем под руку или держась за руки?</h3>
        <p>Когда переходит дорогу целая колонна детей, то держаться за руки безопасно.
        Когда же переходят двое-трое, так поступать не следует (конечно, если школьник не ведет своего младшего брата или сестренку), потому что при появлении опасности дети могут тянуть друг друга в разные стороны и потеряют драгоценные секунды.</p>
        <h3>О чем надо помнить пешеходу, выходящему из автобуса?</h3>
        <p>Выйдя из автобуса, надо отойти от него, давая дорогу выходящим и ожидающим посадку.
        Не надо спешить переходить через дорогу: стоящий автобус мешает заметить проезжающий транспорт.
        Поэтому выбегать из-за него нельзя - ни спереди, ни сзади.
        Дойдите до перехода или (если его нет) дождитесь, пока автобус отойдет от остановки, и вы будете хорошо видеть дорогу.</p>
        <h3>В чем опасность, когда вы идете по улице с маленькими детьми?</h3>
        <p>Маленькие дети еще не умеют ориентироваться на дороге и могут вырваться из рук, побежать в самый неподходящий момент. Старшие должны крепко держать младших за запястье руки и не выпускать их.
        Особенно внимательными надо быть, когда вы подъезжаете к своему дому и выходите из автобуса, трамвая, такси, троллейбуса.
        Маленькие дети, заметив кого-то из знакомых на другой стороне улицы, могут вырваться и побежать к ним.</p>
        <h3>Чем опасен для пешехода момент, когда одна машина обгоняет другую?</h3>
        <p>Некоторое время первый автомобиль закрывает второй. Пешеход может видеть только одну машину и не заметит обгоняющую машину.
        Чем опасен для пешехода момент, когда разъезжаются две встречные машины?
        Одна машина выезжает из-за другой. Поэтому и водитель, и пешеход могут не заметить друг друга.</p>
        <h3>Можно ли отвлекаться при переходе дороги?</h3>
        <p>Конечно, нельзя. На дороге за секунду автомобиль проезжает 10-12 метров и даже больше. Но мы любим оглядываться на шум, крик, особенно когда услышим свое имя. Это очень опасная привычка.</p>
        <p>Вы подошли к перекрестку. На нем горел для пешеходов зеленый сигнал. Как долго, вы не знаете. Стоит ли начинать переход?
        Лучше подождать нового цикла зеленого сигнала, чтобы не оказаться на переходе при красном сигнале светофора.
        Особенно это важно в дождливую погоду или зимой, когда дорога скользкая.</p>
        <h3>Что делать, если при переходе дороги уронил сумку, портфель или какой-нибудь другой предмет?</h3>
        <p>Если мы что-то уронили, первая реакция - быстро поднять. При переходе дороги эта привычка может сослужить плохую службу.
        Если сразу наклоняться и поднимать предмет, наше внимание будет приковано только к нему. На дороге так делать нельзя.
        Необходимо сначала посмотреть в обе стороны дороги, убедиться, что опасности нет, а потом подбирать свою «пропажу». Лучше, конечно, при переходе быть собранным и ничего не ронять.</p>
        <h3>Мальчик спешит в кино, опаздывает. К переходу приближается грузовик, но мальчик видит, что он вполне успеет перейти. В чем опасность такой ситуации?</h3>
        <p>Опасности две. Во-первых, за грузовиком может идти другая машина, скрытая пока от глаз мальчика.
        Во-вторых, переходя, мальчик будет наблюдать только за приближающимся грузовиком и может позабыть посмотреть в другую сторону.</p>
        <h3>Почему опасно играть рядом с дорогой?</h3>
        <p>Во время игры можно забыть об опасности, выбежать на дорогу и попасть под машину.</p>
        <h3>На нерегулируемом перекрестке пешеход пропустил автомобиль, больше машин ему не видно. Можно ли переходить?</h3>
        <p>Сразу, пропустив машину, нельзя. В первые секунды, пока она близко, за ней может быть скрыта встречная. Пропустив машину, надо подождать, пока она отъедет подальше и не будет мешать осмотру улицы.</p>
        <h3>Пешеход начал переходить улицу при смене сигналов светофора с зеленого на красный. Пешеход решил: «Пока машины стоят - успею: ведь водители видят меня и не станут наезжать». В чем ошибка пешехода?</h3>
        <p>Не все машины в этот момент стоят, некоторые приближаются к перекрестку, и при включении зеленого сигнала они выедут на перекресток с ходу.
        Перебегающего пешехода такой водитель может не заметить из-за стоящих машин. И пешеход эту машину не видит тоже из-за стоящего транспорта.</p>
        <h3>Почему надо переходить дорогу по пешеходным переходам?</h3>
        <p>Водитель знает, что в этих местах разрешается движение пешеходов, он снижает скорость, более внимателен. Пешеход, который переходит дорогу не там, где положено, сам может пострадать и мешает движению транспорта.</p>
        <h3>Почему нельзя переходить дорогу на красный или желтый сигнал светофора?</h3>
        <p>Когда для пешеходов включен красный, для водителей горит зеленый. Видя зеленый сигнал, водитель едет быстро, не ожидая появления пешеходов.</p>
        <h3>Почему опасно перебегать дорогу?</h3>
        <p>Когда человек бежит, ему трудно наблюдать, видеть проезжую часть, приближающуюся машину.</p>
        <h3>Чем опасен выход на дорогу из-за стоящего автомобиля?</h3>
        <p>Когда машина стоит, она закрывает обзор дороги, пешеход не может увидеть другую машину, которая едет позади стоящей. Надо помнить: если машина стоит, за ней может быть скрыта опасность.</p>
        <h3>Почему нельзя ходить по проезжей части?</h3>
        <p>Даже по краю проезжей части дороги ходить опасно, может задеть машина. Ходить надо только по тротуару.</p>
        <h3>Почему пешеходный переход без светофора опаснее, чем переход со светофором?</h3>
        <p>Переход без светофора опаснее, потому что надо уметь определить, далеко ли машина, быстро она едет или медленно. При этом из-за медленно идущей машины, может выехать встречная?</p>
        <h3>Чем опасен переход, когда одна машина обгоняет другую?</h3>
        <p>В тот момент, когда одна машина обгоняет другую, скорость обгоняющей машины намного больше. Пешеход может не заметить обгоняющую машину. Водитель обгоняющей машины тоже может не заметить пешехода.</p>
        <h3>Сколько метров машина будет ехать при торможении, если водитель захочет остановиться?</h3>
        <p>В зависимости от скорости может двигаться 36-46 метров. В гололед намного больше. Кроме того, пока водитель нажмет на тормоза, машина проедет несколько метров без торможения.</p>
        <h3>Почему опасно играть рядом с дорогой?</h3>
        <p>Во время игры можно забыть об опасности, выбежать на дорогу и попасть под колеса автомобиля.</p>
        <h3>О чем надо помнить человеку, выходящему из автобуса?</h3>
        <p>О том, что стоящий автобус, мешает заметить приближающийся транспорт. Надо подождать, пока автобус отъедет от остановки.</p>
        <h3>Как надо шагать с тротуара на проезжую часть дороги?</h3>
        <p>Всегда надо остановиться, чтобы осмотреться, настроиться на переход.</p>
        <h3>В чем опасность спешки на улице?</h3>
        <p>Когда человек спешит, он не так внимателен, в таком состоянии легко не заметить движущийся автомобиль.</p>
        <h3>Как быть, если пешеходу приходится выходить на дорогу из-за деревьев, кустов и т.п.?</h3>
        <p>Приостановиться и осмотреть ту часть дороги, которая была скрыта за предметом.</p>
        <h3>Почему нельзя цепляться за транспорт?</h3>
        <p>Потому что можно сорваться и попасть под колеса автомашины, к которой прицепился (или машины, которая едет сзади).</p>
        <h3></h3>
        <p>Светофорами, линиями дорожной разметки, указателями, дорожными знаками, регулировщиками.</p>
        <h3>Где и для чего устанавливаются металлические ограждения?</h3>
        <p>Они устанавливаются в местах интенсивного движения пешеходов и транспорта, ограничивают возможность перехода проезжей части в не-положенном месте.</p>
        <h3>С какого возраста детям разрешается выезжать на велосипеде на улицу?</h3>
        <p>С 14 лет.</p>
        <h3>Где нужно ожидать трамвай?</h3>
        <p>Ждать трамвай надо напротив остановки на тротуаре или на специально отмеченной для этого площадке.</p>
        <h3>Каким машинам разрешено ехать на красный свет?</h3>
        <p>Скорой помощи, милиции, пожарной, горгаза.</p>
        <h3>Как обходить стоящий трамвай?</h3>
        <p>Стоящий трамвай надо обходить впереди, чтобы не попасть под встречный трамвай.</p>
        <h3>Для чего нужны тротуары, как по ним надо двигаться?</h3>
        <p>Тротуары служат для движения пешеходов. Пешеходы должны двигаться навстречу друг другу, придерживаясь в каждом направлении правой стороны. Играть, толкаться на тротуарах нельзя.</p>
        <h3>Где должен остановиться пешеход, не успевший закончить переход проезжей части?</h3>
        <p>— На «островке безопасности” или в месте пересечения осевой линии с линией пешеходного перехода.</p>
        <h3>Почему опасно идти и бежать вдоль проезжей части ?</h3>
        <p>Проезжая часть предназначена только для движения транспорта, и пешеход, находящийся на ней, мешает движению. Это может привести к несчастному случаю, так как можно не успеть оценить дорожную обстановку. К тому же водители не рассчитывают, что пешеходы могут идти, бежать вдоль проезжей части и могут не заметить пешехода.</p>
        <h3>В нашем крае много случаев, когда во дворах дети попадают под движущийся задним ходом автомобиль Почему это происходит? Как быть детям?</h3>
        <p>Детям опасно находиться, играть сзади автомобиля потому, что водитель видит только частично, что делается сзади него, и часто лишен возможности увидеть маленького ребенка.</p>
        <h3>Где можно играть во дворе?</h3>
        <p>Только на специальной, отведенной для игр площадке, где не могут ездить автомобили и мотоциклы</p>
        <h3>Для чего нужна дорожная разметка(линии, надписи и др.), наносимая на проезжую часть белой краской?</h3>
        <p>Она устанавливает определенный порядок движения. Она указывает где двигаться отдельным видам транспорта, где можно пешеходам переходить улицу.</p>
        <h3>Для чего оборудуются пешеходные переходы на улицах ? Какие они бывают ?</h3>
        <p>Пешеходные переходы - это места для перехода улицы с одной стороны на другую. Пешеходные переходы бывают подземными, наземными и надземными. При наличии пешеходного перехода переходить улицу надо только по ним. Переходы бывают регулируемые и нерегулируемые. Первые оборудованы светофором.</p>
        <h3>Как перейти улицу по пешеходному переходу ?</h3>
        <p>Разрешается переходить улицу, если горит разрешающий (зеленый) сигнал светофора. Перед тем как ступить на проезжую часть, надо осмотреться, убедиться, что автомобили остановились. Если приближающийся автомобиль движется с большой скоростью (может водитель не увидел сигнал), пропустить его. Еще более осторожно и осмотрительно надо переходить улицу на нерегулируемом пешеходном переходе.</p>
        <h3>Что означает красный сигнал светофора ?</h3>
        <p>Красный сигнал запрещает движение. </p>
        <h3>Что означает сочетание красного и желтого сигнала ?</h3>
        <p>При этих сигналах движение запрещено. Они предупреждают о предстоящем включении зеленого.</p>
        <h3>Какое главное правило при переходе улицы ?</h3>
        <p>Переходить ее надо только в установленных местах - на перекрестках и пешеходных переходах, но самое главное - обеспечить себе хороший обзор дороги вправо и влево. Стараться никогда не переходить там, где обзор плохой (стоят машины, кусты деревья и другие помехи). По возможности отойти подальше от стоящих машин, кустов и других предметов, мешающих осмотреть дорогу.</p>
        <h3>Как быть, если приходится переходить улицу рядом со стоящим автомобилем или другой помехой обзору ?</h3>
        <p>Может оказаться так. Что как раз там, где разрешен переход сломалась или стоит машина. В таких случаях надо, подойдя к стоящей машине (или другому предмету, который мешает обзору), остановиться и осторожно выглянуть, только убедившись, что скрытой опасности нет, можно переходить.</p>
        <h3>Почему надо переходить дорогу на перекрестках и по пешеходным переходам ?</h3>
        <p>Водитель знает, что в этих местах разрешается движение пешеходов, он снижает скорость, более внимателен. Пешеход, который переходит не там, где положено, сам может пострадать и мешает водителям.</p>
        <h3>Почему нельзя переходить дорогу на красный или желтый сигнал светофора ?</h3>
        <p>Когда для пешеходов включен «Красный», для водителей горит «Зеленый». Видя зеленый сигнал, водитель едет быстро и не ожидает появления пешеходов. Даже если машин не видно, надо удержаться от желания перейти и подождать зеленого сигнала.</p>
        <h3>Почему опасно перебегать дорогу?</h3>
        <p>Когда человек бежит, ему трудно наблюдать, видеть. А при переходе дороги главное - внимательно смотреть по сторонам, потому что дорога тоже обманчива: кажется, что безопасно, и вдруг выезжает машина из переулка или из-за другой машины.</p>
        <h3>Почему опасно переходить дорогу наискосок ?</h3>
        <p>Когда идешь наискосок, поворачиваешься спиной к машинам и можешь их не увидеть. Кроме того, путь перехода становится длиннее.</p>
        <h3>Как видит водитель пассажиров автобуса?</h3>
        <p>Водитель наблюдает за посадкой и высадкой и пассажирами в салоне в специальные зеркала. Поэтому ему не надо поворачивать голову, чтобы увидеть, что делается сзади.</p>
        <h3>Что может получиться, если опоздать с выходом из автобуса ?</h3>
        <p>Водитель увидит в зеркало, что никого нет и будет закрывать двери, если опоздаешь с выходом, может прищемить дверями. Если при этом упадешь, можешь попасть под колеса.</p>
        <h3></h3>
        <p>Когда машина стоит, она закрывает обзор дороги, и пешеход может не заметить другую машину, которая едет позади стоящей. Особенно опасны и закрывают обзор дороги машины грузовики, автобусы, троллейбусы, трамваи. Но и легковые машины тоже могут помешать увидеть опасность. Надо помнить: если на улице стоит машина, за ней может быть скрыта опасность.</p>
        <h3>Чем опасна дорога на которой очень мало автомашин ?</h3>
        <p>Пешеход может подумать, что дорога пуста и начинает переходить, не поглядев по сторонам. А машина может внезапно появиться - выедет со двора, из переулка. При переходе дороги надо всегда внимательно смотреть по сторонам.</p>
        <h3>Как определить, далеко автомашина или близко ?</h3>
        <p>Надо определить, долго ли автомашине ехать до того места, где стоит пешеход. Если долго, значит машина далеко. Если всего несколько секунд - значит близко. Иногда кажется, что автомобиль далеко, однако, если он едет быстро, переходить дорогу опасно. При переходе проезжей части надо обязательно учитывать скорость движения транспорта.</p>
        <h3>Почему нельзя ходить по проезжей части дороги ?</h3>
        <p>Даже по краю проезжей части дороги идти опасно - может задеть машина. Ходить надо только по тротуарам.</p>
        <h3>Как ходить по дороге, на которой нет тротуара ?</h3>
        <p>Когда нет тротуара (за городом), надо идти по обочине, лицом к движению, чтобы видеть те машины, которые едут навстречу.</p>
        <h3>Какая опасность нередко возникает, когда школьник подходит к своему дому ?</h3>
        <p>Заметив свой дом, ученик захочет быстро перейти проезжую часть, чтобы попасть домой, и может не заметить автомашину, которая в этот момент едет по дороге.</p>
        <h3>Как определить, что водитель автомобиля собирается повернуть направо ?</h3>
        <p>Автомобиль занимает правый ряд, включается и мигает правый фонарик - указатель поворота.</p>
        <h3>Чем опасны автомашины с прицепами?</h3>
        <p>Во-первых, при повороте прицеп заносит, и он может задеть пешеходов. Во-вторых, невнимательный пешеход, увидев, что кузов автомашины проехал мимо, может начать переход улицы и попадет под прицеп.</p>
        <h3>Почему опасно переходить дорогу вдвоем под руку или держась за руку ?</h3>
        <p>Когда переходит дорогу целая колонна детей, держаться за руки безопасно. Когда же переходят двое-трое, так поступать не следует, потому, что при появлении опасности дети могут начать тянуть друг друга в разные стороны и потеряют самые ценные секунды.</p>
        <h3>Почему пешеходный переход без светофора опаснее, чем переход со светофором ?</h3>
        <p>Переход без светофора опаснее, потому что надо уметь определить, далеко ли машина или близко, быстро едет или медленно, надо уметь заметить маленькую машину или мотоцикл. При этом часто из-за медленно едущей машины, выезжает другая, которая едет быстро, из-за машины, которая проехала, может выехать встречная.</p>
        <h3>Всегда ли видит пешехода водитель автомашины, которая к нему подъезжает ?</h3>
        <p>Не всегда: Водителю приходится наблюдать за многими другими водителями и пешеходами.</p>
        <h3>В чем опасность движения по дороге с маленькими детьми ?</h3>
        <p>Маленькие дети еще не умеют ориентироваться на дороге и могут вырваться из рук и побежать в самый неподходящий момент. Старшие должны крепко держать младших и не выпускать их при попытке вырваться. Особенно часто это бывает при выходе из автобуса, троллейбуса, трамвая, такси, напротив своего дома, когда на другой стороне улицы появились родители, товарищи или знакомые.</p>
        <h3>Чем опасен для пешехода момент, когда одна машина обгоняет другую ?</h3>
        <p>В это время одна машина выезжает из-за другой, скорость обгоняющей машины намного больше. Пешеход может не заметить обгоняющую машину, пока она не выедет вперед, но тогда уже будет поздно. Водитель обгоняющей машины тоже не будет видеть пешехода, пока та выедет из-за той машины, которую обгоняет.</p>
        <h3>Чем опасен для пешехода момент, когда разъезжаются две встречные машины?</h3>
        <p>Здесь тоже одна машина выезжает из-за другой. Поэтому водитель, и пешеход могут не заметить друг друга, потому что видимость будет закрывать машина.</p>
        <h3>Сколько метров автомашина будет ехать при торможении, если водитель захочет остановиться?</h3>
        <p>Даже когда человек хочет остановиться на бегу, он два метра «проскочит ». А машине надо, в зависимости от скорости, и 10, и 15, и 20 метров. Кроме того, пока водитель нажмет на тормоз, машина проедет несколько метров без торможения.</p>
        <h3>Можно ли оглядываться при переходе дороги?</h3>
        <p>Конечно, нельзя. На дороге за секунду автомобиль проезжает 10-12 метров и даже больше. Но мы привыкли на шум, крик, когда позовут, оглядываться, не думая, надо ли поддаваться этой привычке.</p>
        <h3>Вы подошли к перекрестку: пока подходили, все время горел «зеленый». Можно ли переходить?</h3>
        <p>Если улица сравнительно широкая, больше 10-12 метров, лучше подождать, чтобы не оказаться на переходе или на середине проезжей части при красном сигнале светофора, нового цикла зеленого сигнала.</p>
        <h3>Почему опасно стоять на середине улицы?</h3>
        <p>Когда человек стоит на середине улицы, «на осевой линии», у него за спиной проезжают машины, он за ними не наблюдает. А стоять в потоке автомашин и не следить за ними - опасно. Испугавшись приближающейся машины, можно по привычке сделать шаг назад - прямо под колеса проезжающего за спиной транспорта. Стоя на середине улицы, надо быть очень собранным и внимательным, не делать ни одного шага, не глядя. На улицах, по которым движется много автомобилей, лучше так рассчитать переход, чтобы не пришлось стоять на середине между двумя встречными потоками машин.</p>
        <h3>Что делать, если при переходе дороги пешеход уронил сумку, портфель или какой-либо другой предмет?</h3>
        <p>Мы привыкли в такой ситуации сразу наклоняться и поднимать, отвлекаясь при этом от наблюдения. На дороге так делать нельзя. Необходимо сначала всегда посмотреть, убедиться, что опасности нет, а потом уже наклоняться. А лучше всего при переходе быть собранным и ничего не ронять.</p>
        <h3>Мальчик спешит в кино, опаздывает. К переходу приближается грузовик, но мальчик видит, что он вполне успеет перейти. В чем опасность ?</h3>
        <p>Опасности две. Во-первых, за грузовиком может быть не видна другая машина, которая едет с большей скоростью и пока скрыта от мальчика. Во-вторых, переходя, мальчик будет наблюдать за приближающимся грузовиком и может забыть посмотреть в другую сторону.</p>
        <h3>Почему опасно играть рядом с дорогой ?</h3>
        <p>Во время игры можно забыть об опасности, выбежать на дорогу и попасть под машину.</p>
        <h3>На нерегулируемом перекрестке пешеход пропустил автомашину, больше автомобилей не видно. Можно ли переходить ?</h3>
        <p>Сразу, пропустив машину, нельзя. В первые секунды, пока она близко, за ней может быть скрыта встречная. Пропустив машину, надо подождать, пока она отъедет подальше и не будет мешать осмотру улицы.</p>
        <h3>Пешеход подошел к перекрестку. Пока он приближался, горел «зеленый», и пешеход настроился на переход. Вдруг загорелся «красный». Пешеход решил так: пока машины стоят - успею. Ведь водители видят меня и не станут наезжать. В чем ошибка пешехода, чего он не учел ?</h3>
        <p>Не все машины в этот момент стоят, некоторые приближаются к перекрестку и при включении зеленого сигнала выедут на перекресток с ходу. Перебегающего пешехода такой водитель может не заметить из-за стоящих машин, и пешеход не видит эту машину из-за стоящего транспорта.</p>
        <h3>Когда вы подошли к пешеходному переходу «без светофора», машины стояли, основная группа пешеходов уже прошла половину проезжей части. Можно ли переходить ?</h3>
        <p>Когда основная группа пешеходов прошла, водители стоящих автомашин готовы начать движение. В это время они провожают глазами основную группу пешеходов и могут не заметить опоздавшего пешехода. Поэтому переходить дорогу в такой ситуации опасно.</p>
        <h3>В чем опасность спешки на улице ?</h3>
        <p>Когда человек спешит, он все время думает об одном - как идти быстрее, не потерять время. В таком состоянии легко не заметить автомашину. Большинство несчастных случаев на дорогах возникает, когда ребята спешат, волнуются, увлечены разговором, игрой.</p>
        <h3>Как надо шагать с тротуара на проезжую часть: сразу или сначала приостановиться ? Почему ?</h3>
        <p>Всегда надо приостановиться. Во-первых, чтобы лучше осмотреть проезжую часть. Во-вторых, чтобы настроиться на переход. Потому что на проезжей части нужно повышенное внимание, не такое, как на тротуаре.</p>
        <h3>Около подъезда вашего дома стоит машина. Водитель ушел. В чем может быть опасность ?</h3>
        <p>Стоящая машина закрывает или ограничивает обзор дороги. Из-за нее можно не заметить другую машину, мотоцикл, велосипедиста.</p>
        <h3>Почему некоторые пешеходы переходят улицу та, где им вздумается, да еще наискосок ?</h3>
        <p>Нет культуры поведения, выдержки, силы воли, уважения к водителям.</p>
        <h3>Почему велосипедисты и мотоциклисты находятся на дороге в наибольшей опасности ?</h3>
        <p>Устойчивость двухколесного транспорта во много раз ниже, чем четырехколесного. Размеры его во много раз меньше и его часто не замечают. Устройства для сигнализации маневров на автомобиле несравненно лучше, чем на мотоцикле и велосипеде, поэтому мотоциклисту и велосипедисту приходится подавать сигналы рукой, что они не всегда умело делают. Кроме того, в ряде случаев сигналы рукой малозаметны: сумерки, ненастная погода и т.д. И последнее: опыт мотоциклистов и велосипедистов часто недостаточен для безопасного управления.</p>
        <h3>Почему некоторые пешеходы переходят улицу на красный сигнал светофора ?</h3>
        <p>Нет выдержки, дисциплины, уважения к водителям, которым труднее водитель автомобиль, когда пешеходы переходят неорганизованно, нарушают Правила дорожного движения.</p>
        <h3>Какой поворот опаснее, левый или правый, и почему ?</h3>
        <p>Левый поворот намного опаснее. Водителю приходится пересекать две полосы движения: свою - можно столкнуться с попутным автомобилем, который приближается сзади, его не всегда легко заметить, и встречную полосу - надо пропустить встречный транспорт.</p>
        <h3>Горит «зеленый» для машин, но они стоят. Почему они могут стоять ? Опасно переходить или безопасно.</h3>
        <p>Переходить в такой ситуации очень опасно: машины могут стоять в ожидании разрешения поворота при заторе, пропуская «скорую помощь», пожарную или другую специальную машину. В одном ряду машины могут стоять, а в другом ряду (скрытые за стоящими) могут проезжать.</p>
        <h3>В чем опасность автобуса когда он приближается к остановке ?</h3>
        <p>Место подъезда к остановке обычно сильно накатано. В ненастную погоду или зимой возможно скольжение автобуса (юзом) и даже выезд его на площадку. Кроме того, сам пешеход может поскользнуться и попасть под колеса. Или его могут нечаянно толкнуть, особенно, когда на остановке много пассажиров. Поэтому надо внимательно наблюдать за подъезжающим к остановке автобусом и не подходить к нему близко до полной остановки.</p>
        <h3>Как быть, если пешеходу приходится выходить на дорогу близко от стоящей автомашины: деревьев, кустов ?</h3>
        <p>Приостановиться и осмотреть часть дороги, которая была скрыта за предметом.</p>
        <h3>Вы хотите догнать товарища недалеко от дороги. Какая опасность угрожает товарищу</h3>
        <p>Убегая он может выбежать на проезжую часть дороги, не заметив машину.</p>
        <h3>На краю тротуаров улицы с небольшим движением группа школьников оживленно беседует. Возможные опасности ?</h3>
        <p>Кто-нибудь будучи уверенным, что машины нет, может не глядя, шагнуть на дорогу.</p>
        <h3>О чем надо помнить пешеходу, выходящему из автобуса ?</h3>
        <p>О том, что стоящий автобус мешает заметить проезжающий транспорт, поэтому выходить или выбегать из-за него нельзя - ни спереди, ни сзади.</p>
        <a href="{% url 'transport' %}" class="header header-stroke">Назад</a>
    </div>
{% endblock %}
