{% extends "layout.html" %}


{% block title %}О школе{% endblock %}
{% block content %}
<div class="inner-content">
    <h1 class="page-name">{{ title }}</h1>
</div>
<div class="hat-img"></div>
<div class="inner-content">
    <div class="content-block">
        <h2>Краткая справка</h2>
        <p>Организация 'МУНИЦИПАЛЬНОЕ БЮДЖЕТНОЕ ОБЩЕОБРАЗОВАТЕЛЬНОЕ УЧРЕЖДЕНИЕ "ШКОЛА № 41"' зарегистрирована 05 января 2003 года по адресу 390011, Рязанская область, ГОРОД РЯЗАНЬ, Г. РЯЗАНЬ, Г РЯЗАНЬ, УЛ. ТРУДОВАЯ, Д.6/6. Компании был присвоен ОГРН 1026201111870 и выдан ИНН 6230029990. Основным видом деятельности является образование основное общее. Компанию возглавляет ЗАЙЦЕВ ВЛАДИМИР ВАСИЛЬЕВИЧ.</p>
    </div>
    <div class="content-block">
        <h2>Полное наименование учреждения</h2>
        <h3>
            МУНИЦИПАЛЬНОЕ БЮДЖЕТНОЕ
            <br>ОБЩЕОБРАЗОВАТЕЛЬНОЕ УЧРЕЖДЕНИЕ
            <br>"ШКОЛА № 41"
        </h3>
        <p>Адрес: Россия, Рязанская обл, Рязань г, Трудовая ул, 6/6.</p>
        <p>Организацией руководит Владимир Васильевич Зайцев (должность: директор).</p>
        <p>Учредитель: АДМИНИСТРАЦИЯ ГОРОДА РЯЗАНИ.</p>
    </div>
</div>
{% endblock %}
